# Diretório oculto .terraform
/.terraform

# Arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Arquivos de plano de execução do Terraform
*.tfplan

# Arquivos de variáveis do Terraform (se você usar variáveis separadas)
*.auto.tfvars
*.auto.tfvars.json
*.tfvars

# Logs de saída do Terraform
terraform.log

# Cache e diretórios temporários
/.terraform-cache
/.terraform.tfstate.lock.info
*.terraform.lock.hcl

# Ignorear arquivos de configuração do CLI
.terraformrc
terraform.rc

# Diretórios e arquivos específicos do sistema
.DS_Store
*.log

# Chaves privadas e arquivos relacionados à segurança
private_key.pem
*.key

# Arquivos gerados automaticamente pelo editor
.idea/
.vscode/
*.swp

# Exclua arquivos e credenciais da AWS CLI
.aws/
credentials
